<h1>Result</h1>

<p><%= @score[:message] %></p>

<p>Your score is <%= @score[:score] %></p>
<p>Your total score is <%= session[:cumulative_score] %></p>

<%= link_to "Play Again", new_path %>


<!-- 
The word can't be built out of the original grid
The word is valid according to the grid, but is not a valid English word
The word is valid according to the grid and is an English word -->